*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.contact{
    text-align: center;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 7%;
    align-items: center;
}
.new1{
    margin-top: 1.5rem;
     /* border-style: dotted;
    border-color: red;  */
}
.header .navbar{
    margin-right: 60px;
}
.header .navbar a{
    word-spacing: 8px;
    font-style: bold;
    font-size: 2.8rem;
    margin-left: 0.2rem;
    margin-right: 3rem;
    color: rgb(211, 233, 13);
    margin-top: 0.4rem;
    text-decoration: none;
}
.header .navbar a:hover{
    background: white;
    padding: .5rem 3rem;
    border-radius: 15px;
}
.navbar.active{
    top: 50%;
}
.marks{
    margin-top: 70px;
    text-decoration: #ffc61a;
    border-style: dotted;
    border-color:blue;
}
.marq{
    border-style: dotted;
    border-color: aquamarine;
}
.classs1{
        background: url(images/backop.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        /* border-color: chartreuse;
        border-style: dotted;  */
    }
    .logost{
        font-size: large;
        float: right;
        margin-right: 97px;
        color: yellow;
        margin-bottom: 80px;
        /* border-color: red;
        border-style: dotted;  */
    }
    .logost1{
        font-size: large;
        float: right;
        margin-right: 97px;
        color: yellow;
        margin-bottom: 80px;
        border-color: red;
        border-style: dotted;  
    }
    .home1{
        padding-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      
    }
    .inner-content{
        background: #ffc61a;
        width: 100%;
        padding-top: 4rem;
    }
    .inner-content h2{
        font-size: 18px;
        padding-bottom: 2rem;
        padding-left:62rem;

    }
    .inner-content h3{
        font-size: 31px;
        padding-bottom: 3rem;
        padding-left:63rem;
        padding-right: 20rem;

    }
    .clash2{
        color: white;
        font-size: 50px;
        position: absolute;
        top: 65%;
        left: 52%;
        transform: translate(-50%, -50%);
        /* border-style: dotted;
        border-color: red; */
    
    }
    .clash2 h2 span{
        color: #ffc61a;
    }
    .clash2 img{
        margin-left: 148px;
    }
    .clash2 a span{
        color: #251aff;
    }
    .form-fields{
        border: 8px solid rgb(81, 0, 255);
        padding-top: 10rem;
        background-color: #ffc61a;
        font-size: 1.5rem;
        width: 45rem;
        text-align: center;
        padding: 2rem 1rem;
        margin: 0 auto;
    }
    .form-heading{
        padding-top: 10rem;
    }
    .mains{
        background-image: url("images/back4.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    .form-fields input{
    padding: 2rem ;
    border: none;
    border-bottom: 1px solid black;
    }
      .submit1 button a{
        display: inline-block;
        font-family: sans-serif;
        font-size: 20px;
        color: rgb(0, 0, 0);
        border: black;
    }

    .main-tariff{
        align-content: center;
        padding: 3rem 7%;
        background-image: url("images/download\ \(2\).jpeg");
       
       
    }
    .main-tariff h1{
        font-size: 38px;
        text-align: center;
        padding-bottom: 6rem;
    }
    .main-tariff h1 span{
        color: #ffc61a;
    }
    .inner-tarrif{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .tarrif-container{
        flex: 1 1 250px;
        text-align: center;
        padding: 3rem 0;
    }
    .tarrif-container img{
        width: 60%;
        margin-top: -50px;
    }
    .tarrif-container .inner-box h2{
        font-size: 30px;
    }
    .tarrif-container .inner-box p{
        font-size: 1.5rem;
        padding: 2rem;
    }
    .tarrif-container .inner-box h3{
        color: #ffc61a;
        font-size: 2rem;
    }
    .tarrif-container .inner-box a{
        font-size: 1.5rem;
        padding: 1rem 3rem;
    
    }
    .tarrif-container:nth-child(2){
        background: #ffc61a;
    }
    .heading-yellow{
        color: black;
    }
    .yellw-section{
        color: black !important;
    }
    .tarrif-container a{
        color: white;
        padding: 1rem 3rem;
        background: black;
        display: inline-block;
        margin-top: 1rem;
    
    }
    .testimonials{
        background-image: url("images/test1.png");
        background-size: cover;
        background-position: center;
        height: 100%;
        display: flex;
        width: 100%;

    }
    .testimonials .heading-test{
        color: #ffc61a;
        font-size: 38px;
        padding: 2rem;
        text-align: center;
    }
    .main-testimonials{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 2rem 7%;
    }
    .inner-test{
        flex: 1 1 45rem;
        color: white;
        background: black;
        padding: 2rem;
    }
    .inner-test p{
        font-size: 1.5rem;
        padding: 2rem;
    }
    .clients{
        display: flex;
        align-items: center;
    
    }
    .clients h1{
        color: #ffc61a;
        margin-left: 1rem;
    }